{% extends 'layout.html' %} {% block content %}
<div class="card shadow-lg rounded-4 p-4" style="max-width: 500px; width: 100%">
    <h2 class="text-center text-primary mb-4">Реєстрація</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="firstname" class="form-label text-secondary">Ім'я</label>
            <input
                type="text"
                class="form-control rounded-3"
                id="firstname"
                name="firstname"
                placeholder="Ваше ім'я"
                required
            />
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label text-secondary">Прізвище</label>
            <input
                type="text"
                class="form-control rounded-3"
                id="lastname"
                name="lastname"
                placeholder="Ваше прізвище"
                required
            />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-secondary">Email</label>
            <input
                type="email"
                class="form-control rounded-3"
                id="email"
                name="email"
                placeholder="example@gmail.com"
                required
            />
        </div>
        <div class="mb-3">
            <label for="image" class="form-label text-secondary">Фото (з ПК)</label>
            <input
                type="file"
                class="form-control rounded-3"
                id="image"
                name="image"
                accept="image/*"
                required
            />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label text-secondary">Пароль</label>
            <input
                type="password"
                class="form-control rounded-3"
                id="password"
                name="password"
                placeholder="Придумайте пароль"
                required
            />
        </div>
        <div class="mb-3">
            <label for="confirmpassword" class="form-label text-secondary"
                >Підтвердження паролю</label
            >
            <input
                type="password"
                class="form-control rounded-3"
                id="confirmpassword"
                name="confirmpassword"
                placeholder="Повторіть пароль"
                required
            />
        </div>
        <button type="submit" class="btn btn-primary w-100 rounded-3">
            Зареєструватися
        </button>
    </form>
    <div class="text-center mt-3">
        <small class="text-muted"
            >Вже маєте акаунт?
            <a href="index.html" class="link-primary">Увійти</a></small
        >
    </div>
</div>
{% endblock %}
